on:
  push:
    branches:
      - release
    paths:
      - .github/workflows/**
      - src/**
      - pom.xml

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 8

      - name: Get Latest Version
        run: |
          LATEST_VERSION=$(curl -s https://api.github.com/repos/${{ github.repository }}/releases/latest | jq -r '.tag_name')
          echo "LATEST_VERSION=$LATEST_VERSION" >> $GITHUB_ENV

      - name: Get Current Version
        run: |
          CURRENT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "CURRENT_VERSION=$CURRENT_VERSION" >> $GITHUB_ENV

      - name: Create Release Version
        if: ${{ env.CURRENT_VERSION != env.LATEST_VERSION }}
        run: |
          BUILD_TIMESTAMP=$(date --utc +'%Y-%m-%dT%H:%M:%SZ')

          {
            echo "release_version=${{ env.CURRENT_VERSION }}"
            echo "build_type=release"
            echo "build_timestamp=${BUILD_TIMESTAMP}"
            echo "git_commit=${GITHUB_SHA}"
          } > src/main/resources/version.properties

      - name: Build JAR
        if: ${{ env.CURRENT_VERSION != env.LATEST_VERSION }}
        run: mvn clean package

      - name: Create GitHub Release
        if: ${{ env.CURRENT_VERSION != env.LATEST_VERSION }}
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.CURRENT_VERSION }}
          name: ${{ env.CURRENT_VERSION }}
          files: target/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
